<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_tag 'images/favicon.ico' %>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation-float.min.css" integrity="sha256-sP0p6J7SbJGiJ2gkdY1nkVsLgdwiFN2kI370lU+zacQ= sha384-yZLxxcD8nfiSt1qfKJWwHwtkL58WZDTlkBnZN60qr3ZS35+LDsmUF2JHLxdyZ+KU sha512-Z3WbpfWFSsK2dBvoSYZnMvPmxSJUa5cxj3TYlmyj6cq8IXy7iB2nlUk+jjms8gnz4HmpQk/yhRSlRzW7keoSlg==" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <title><%= content_for?(:title) ? yield(:title) : "Lily Stoney | Full-Stack Software Sorceress" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header>
      <%= partial 'nav_bar' %>
      <%= partial 'header' %>
    </header>

    <main>
      <%= partial 'main_content' %>
    </main>

    <footer>
      <%= partial 'footer' %>
    </footer>
  </body>
</html>
